/* Your responsive CSS styles go here */
/* responsive media query start for less than 1000px*/
@media(max-width:1000px) {
    .max-width{
        padding: 0 50px;
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 150%;
        left: 0;
        top: 0;
        text-align: start;
    }
    .navbar .menu li{
        
        display: inline-block;
    }
    .back{
        background: black;
    }

}
/* responsive media query start for more than 1000px*/
@media(min-width:500px) {
    .max-width{
        padding: 0 50px;
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 150%;
        left: 0;
        top: 0;
        text-align: start;
    }
    .navbar .menu li{
        
        display: inline-block;
    }
    .back{
        background: black;
    }

}
@media (max-width: 1200px) {
    .max-width{
        padding: 0 50px;
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 150%;
        left: 0;
        top: 0;
        text-align: start;
    }
    .navbar .menu li{
        
        display: inline-block;
    }
    .back{
        background: black;
    }
  }
  